[Desktop Entry]
Name=Transit Live
Exec=sailfish-qml harbour-helsinki-transit-live
Icon=harbour-helsinki-transit-live
Type=Application
X-Nemo-Application-Type=silica-qt5
